*::-webkit-scrollbar{
  display: none;
  scrollbar-width: none;
}

body {  
  font-family: "times new roman", serif;
  margin: 0;
  padding: 0;
  background-color: black;
}
.page-head{
  text-align: center;
  color: red;
  border: 0px solid black;
  padding: 0px;
  height: 100vh;
  background: url(https://gepig.com/game_cover_460w/214.jpg);
  background-repeat: no-repeat;
  background-size: 100vw;
  overflow: hidden;
}
.arrow{
  position: absolute;
  bottom: 15vh;
  border: solid red;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 2vw;
  text-align: center;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
/*navbar*/
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  border-bottom: red solid 2vh;
}

li{
  float: left;
}

li .link{
  display: block;
  color: rgb(255, 200, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li .link:hover{
  background-color: #111;
  color: red;
}
.boxes{
  top: 20vh;
  color: red;
  padding: 0px;

  height: 48vh;
  text-align: center;
  transition: 1s ease-in-out;
  vertical-align: middle;

  overflow: hidden;
}
.link-next{
  position: absolute;
  height: 50vh;
  width: 100vw;
  z-index: 3;
  right: -0vw;

  overflow: hidden;
}
.sub{
  position: absolute;
  margin: auto;
  z-index: 4;
  color: red;
  width: 100vw;
  height: 50vh;
  font-size: 5vh;
  transition:font-size 1s ease-in-out;
}

/* Brightness-zoom Container */
.img-hover-zoom img {
  transition-delay: .5s;
  transition: transform 1s, filter 1s ease-in-out;
  transform-origin: center center;
  filter: brightness(50%);
}
img{
  width: 100%;
}
/* The Transformation */
.img-hover-zoom:hover img {

  filter: brightness(75%);
  transform: scale(1.1);
}
footer{
  background-color: red;
  height: 10vh;
  margin-top: 0px;
  font-size: 20px;
}
h5{
  color: black;
  margin-left: 1%;
  margin-top: 0;
  padding-top: 2vh;
}